@font-face {
  font-family: 'Futana';
  src: url('../fonts/Futana.eot?#iefix') format('embedded-opentype'), url('../fonts/Futana.woff') format('woff'), url('../fonts/Futana.ttf') format('truetype'), url('../fonts/Futana.svg#Futana') format('svg');
  font-weight: normal;
  font-style: normal;
}